
body {
    background-color: #FFFFEF;
    background-image: linear-gradient(90deg, transparent 98px, #ED82AD 98px, #ED82AD 100px, transparent 100px),
    linear-gradient(#eee 1px, transparent 0px),
    linear-gradient(90deg, #eee 1px, transparent 0px);
    background-size: 100% 100%, 20px 20px, 20px 20px;
    background-position: 0 0, -1px -1px, -1px 1px;

}

header h1 {

    position: relative;
    top: 20px;
    left: 38%;
}
    header p {
        font-family: 'Times New Roman', Times, serif;
        font-size: 70%;
        color: red;
        position: relative;
        top: 0;
        left: 38%;

    }
    header a {
        font-family: 'Times New Roman', Times, serif;
        font-size: medium;
        position: relative;
        top: 0;
        left: 0;
    }

/*.fireNext{
    background: url(image/90.gif) no-repeat;
}*/

#playerOne {
    position: relative;
    top: 28.6%;
    left: 19%;
}

    #playerOne .fire {
        border: 1px solid #3355aa;
        background: url(image/90.gif) no-repeat;
        background-position: center center;
        background-color: #FFFFEF;
    }

#playerTwo {
    position: relative;
    top: 28.6%;
    left: 57.5%;
}

    #playerTwo .fire {
        border: 1px solid #3355aa;
        background: url(image/90.gif) no-repeat !important;
        background-position: center center;
        background-color: #FFFFEF;


    }


.PlayerField {
    background-color: #FFFFEF;
    position: absolute;
    border-collapse: collapse;
    width: 250px;
    height: 250px;
    table-layout: fixed;
    text-align: center;
    z-index: 10;
}
    .PlayerField td{
        border: 1px solid #3355aa;


    }

#logForSeaBattle{
    position: relative;
    left: 37.5%;
    left: 37.5%;
    width: 250px;
    height: 200px;
    text-align: center;
    overflow: auto;
    z-index: 10;
    /*background-color: #FFFFEF;*/
}
    #logForSeaBattle p {
        font-size:12px;
    }

/*#playerOne .ship {
    border: 1px solid #3355aa;
    *//*bbackground-color: #FFFFEF;*//*
}

#playerTwo .ship {
    border: 1px solid #3355aa;
    background-color:#808080;
}*/

/*.deadZone {
    background-color: #0077b3 !important;

}*/

.miss {
    border: 1px solid #3355aa;
    background: url(image/100.gif) no-repeat;
    background-position: center center;

}

.afterGame {
    border: 1px solid #3355aa;
    background-color: green;
}
.colorBrown{
    color: brown;
}
.colorCoral{
    color: #0077b3;
}



.buttonSeaBattle{
    position: relative;

    left: 50px;
}
#buttonRandom{
    position: relative;
    display: block;
    /*top: -340px;*/
    left: 38%;
    z-index: 20;
}
#buttonStartGame{
    position: relative;
    display: none;
    /*top: -340px;*/
    left: 40%;
    z-index: 20;
}
#restartGame{
    position: relative;
    display: none;
    /*top: -240px;*/
    left: 41%;
    z-index: 20;
}

.ships{
    background-color: orange;
}

.click {
    top: 0;
    left: 0;
    width: 95px;
    height: 25px
    position: absolute;
    background-color: orange;
    display: block;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.shipsDiv{
    position: relative;
    width: 170px;
    height: 128px;
     top: 30px;
    left: 42%;
    display: block;
    z-index: 20;
}

    .shipsRemove_9, .shipsRemove_8, .shipsRemove_7, .shipsRemove_6, .shipsRemove_5, .shipsRemove_4, .shipsRemove_3, .shipsRemove_2, .shipsRemove_1, .shipsRemove_0 {
        position: absolute;
        background-color: orange;
        display: block;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
    }


        .shipsRemove_9 {
            top: 98px;
            left: 0;
            width: 25px;
            height: 25px;


        }
        .shipsRemove_8 {
            top: 98px;
            left: 28px;
            width: 25px;
            height: 25px;

        }
        .shipsRemove_7 {
            top: 98px;
            left: 56px;
            width: 25px;
            height: 25px;

        }
        .shipsRemove_6 {
            top: 98px;
            left: 84px;
            width: 25px;
            height: 25px;

        }
        .shipsRemove_5 {
            top: 0;
            left: 140px;
            width: 25px;
            height: 45px;
        }
        .shipsRemove_4 {
            top: 0;
            left: 112px;
            width: 25px;
            height: 45px;
        }
        .shipsRemove_3 {
            top: 0;
            left: 84px;
            width: 25px;
            height: 45px;
        }
        .shipsRemove_2 {
            top: 0;
            left: 56px;
            width: 25px;
            height: 70px;
        }
        .shipsRemove_1 {
            top: 0;
            left: 28px;
            width: 25px;
            height: 70px;
        }
        .shipsRemove_0 {
            top: 0;
            left: 0;
            width: 25px;
            height: 95px;
        }





.four_1{
    background: url(image/ship4_1right.gif) no-repeat;
    background-position: center center;
}
.four_1left {
    background: url(image/ship4_1left.gif) no-repeat;
}
.four_1up {
    background: url(image/ship4_1up.gif) no-repeat;
}
.four_1down {
    background: url(image/ship4_1down.gif) no-repeat;
}


.four_2{
    background: url(image/ship4_2right.gif) no-repeat;
    background-position: center center;
}
.four_2left {
    background: url(image/ship4_2left.gif) no-repeat;
}
.four_2up {
    background: url(image/ship4_2up.gif) no-repeat;
}
.four_2down {
    background: url(image/ship4_2down.gif) no-repeat;
}



.four_3{
    background: url(image/ship4_3right.gif) no-repeat;
    background-position: center center;
}
.four_3left {
    background: url(image/ship4_3left.gif) no-repeat;
}
.four_3up {
    background: url(image/ship4_3up.gif) no-repeat;
}
.four_3down {
    background: url(image/ship4_3down.gif) no-repeat;
}



.four_4{
    background: url(image/ship4_4right.gif) no-repeat;
    background-position: center center;
}
.four_4left {
    background: url(image/ship4_4left.gif) no-repeat;
}
.four_4up {
    background: url(image/ship4_4up.gif) no-repeat;
}
.four_4down {
    background: url(image/ship4_4down.gif) no-repeat;
}

.three_1{
    background: url(image/ship3_1right.gif) no-repeat;
    background-position: center center;
}
.three_1left {
    background: url(image/ship3_1left.gif) no-repeat;
}
.three_1up {
    background: url(image/ship3_1up.gif) no-repeat;
}
.three_1down {
    background: url(image/ship3_1down.gif) no-repeat;
}


.three_2{
    background: url(image/ship3_2right.gif) no-repeat;
    background-position: center center;
}
.three_2left {
    background: url(image/ship3_2left.gif) no-repeat;
}
.three_2up {
    background: url(image/ship3_2up.gif) no-repeat;
}
.three_2down {
    background: url(image/ship3_2down.gif) no-repeat;
}



.three_3{
    background: url(image/ship3_3right.gif) no-repeat;
    background-position: center center;
}
.three_3left {
    background: url(image/ship3_3left.gif) no-repeat;
}
.three_3up {
    background: url(image/ship3_3up.gif) no-repeat;
}
.three_3down {
    background: url(image/ship3_3down.gif) no-repeat;
}

.two_1{
    background: url(image/ship2_1right.gif) no-repeat;
    background-position: center center;
}
.two_1left {
    background: url(image/ship2_1left.gif) no-repeat;
}
.two_1up {
    background: url(image/ship2_1up.gif) no-repeat;
}
.two_1down {
    background: url(image/ship2_1down.gif) no-repeat;
}



.two_2{
    background: url(image/ship2_2right.gif) no-repeat;
    background-position: center center;
}
.two_2left {
    background: url(image/ship2_2left.gif) no-repeat;
}
.two_2up {
    background: url(image/ship2_2up.gif) no-repeat;
}
.two_2down {
    background: url(image/ship2_2down.gif) no-repeat;
}

.one {
    background: url(image/ship1.gif) no-repeat;
    background-position: center center;


}






